.card.face-down {
    width: 20%;
    height: 30%;
    background-color: sandybrown;
    position: relative;
    border-radius: 10%;
    
}

.card.face-up.matched {
    background-color: thistle;
    position: relative;
}

.card.matched::before {
    background-image: url(assets/checkmark.svg);
    position: absolute;

}