.card {
    width: 20%;
    margin: 0 2vh;
    position: relative;
    height: 20vh;
    border-radius: 5px;
}

.face-down {
    @include overlay();
    @include flex-center();
    background-color: teal;
}

.face-down:hover {
    box-shadow: 0 0 0 10px yellow;
}
.face-down:active {
    box-shadow: 0 0 0 10px orange;
}

.face-down .card-emblem {
    height: 100%;
}

.face-up {
    @include overlay();
    @include flex-center();
    background-color: slategray;
}

.face-up .name {
    @include overlay();
    @include flex-corner();
    text-align: right;
    z-index: 2;
    color: #efefef;
    text-shadow: 0px 0px 4px #010101;

}

.face-up .check-mark {
    padding: 10%;
    object-fit: fit;
}

.face-up .flag {
    padding: 2.5%;
    object-fit: fit;
    object-position: center;
}

.wrap-image {
    @include overlay();
    @include flex-center();
    background-color: #89898988;
}

@media screen and (max-aspect-ratio: 1/1) {
    .card {
        margin: 1vw;
        width: 30%;
        height: 10vh;
    }
    .face-up .name {
        font-size: .75rem;
    }
}