.game-board {
    background-color: tan;
    list-style: none;
    height: 60vh;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: space-center;
    flex-flow: row wrap;
    position: relative;
}