.site-wrapper {
    margin: 0 auto;
    width: 90%;
}

* {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

@mixin overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin flex-center {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-corner {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15% 10%;
}