.site-wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

img {
    max-width: 100%;
    height: 100%;
}


.hide {
    // display: none;
    visibility: hidden;
}

footer {
    text-align: center;
}

@mixin overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin flex-center {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-corner {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5% 10%;
}

@media screen and (max-aspect-ratio: 1/1) {
    .site-wrapper {
        width: 95%;
    }
}
