.overlay-text-box {
    padding: 20px;
    border-radius: 10px;
}

.splash .overlay-text-box {
    background-color: rgb(255, 216, 216);    
}

.winner .overlay-text-box {
    background-color: rgb(228, 243, 255);
}