.splash.show {
    @include overlay();
    @include flex-center();
    z-index: 10;  
    text-align: center;
    background-color: #ffaabbcc;
}

.splash button {
    height: 3rem;
    width: 8rem;
    text-transform: uppercase;
}

.splash.hide {
    display: none;
}
