.splash, .winner {
    @include overlay();
    @include flex-center();
    z-index: 10;  
    text-align: center;
    padding: 10px;
}

.splash {
    background-color: #ffaabbcc;
}

.winner {
    background-color: #aabbffcc;
}

.winner p {
    font-weight: bold;
    font-size: 1.2rem;
}

.splash button, .winner button {
    height: 3rem;
    width: 8rem;
    text-transform: uppercase;
}

.splash.hide {
    display: none;
}
