.splash.show {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    background-color: #ffaabbcc;
}

.splash.hide {
    display: none;
}