.splash.show {
    @include overlay();
    z-index: 10;
    

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    background-color: #ffaabbcc;

}

.splash button {
    height: 3rem;
    width: 8rem;
}
