@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');
a {
    text-decoration: none;
    color: navy;
}
body {

    font-family: "Do Hyeon";
}

h1 {
    font-size: 8.2vw;
}

h2 {
    font-size: 7vw;
    text-align: center;
}

.contributor {
    text-decoration: underline;
    font-size: 1.4rem;
    line-height: 2;
}

.guesses-box {
    letter-spacing: .1rem;
}