article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site-wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}

* {
  padding: 0;
  margin: 0;
}

.game-full-screen {
  height: 100vh;
  width: 100vw;
  position: relative;
}

img {
  max-width: 100%;
  height: 100%;
}

.hide {
  visibility: hidden;
}

@media screen and (max-aspect-ratio: 1 / 1) {
  .site-wrapper {
    width: 95%;
  }
}

main {
  height: 100vh;
  background-color: #ababab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blurred {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.game-board {
  background-color: tan;
  list-style: none;
  height: 70vh;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: space-center;
      -ms-flex-align: space-center;
          align-items: space-center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
}

.guess-display, .matches-got {
  font-weight: bold;
  font-size: 1.2rem;
}

.card {
  width: 24%;
  height: 30%;
  position: relative;
}

.card button {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
}

.card button:focus {
  -webkit-box-shadow: 0 0 0 5px cyan;
          box-shadow: 0 0 0 5px cyan;
}

.face-down:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.face-down:active {
  -webkit-filter: brightness(120%) hue-rotate(15deg);
          filter: brightness(120%) hue-rotate(15deg);
}

.face-down {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: teal;
}

.face-down .card-emblem {
  height: 100%;
}

.face-up {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: slategray;
}

.face-up .name {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 5% 10%;
  text-align: right;
  letter-spacing: .1rem;
  z-index: 2;
  color: #efefef;
  text-shadow: 1px 0px 0px #010101,  -1px 0px 0px #010101, 0px 1px 0px #010101, 0px -1px 0px #010101, 1px 1px 0px #010101,  1px -1px 0px #010101, -1px 1px 0px #010101, -1px -1px 0px #010101;
}

.face-up .check-mark {
  padding: 10%;
  -o-object-fit: fit;
     object-fit: fit;
}

.face-up .flag {
  padding: 2.5%;
  -o-object-fit: fit;
     object-fit: fit;
  -o-object-position: center;
     object-position: center;
}

.wrap-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #89898988;
}

@media screen and (max-aspect-ratio: 1 / 1) {
  .card {
    width: 30%;
    height: 20%;
  }
  .face-up .name {
    font-size: .75rem;
  }
}

.splash, .winner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  text-align: center;
}

.splash {
  background-color: #ffaabbcc;
}

.winner {
  background-color: #aabbffcc;
}

.splash button, .winner button {
  height: 3rem;
  width: 8rem;
  text-transform: uppercase;
}

.splash.hide {
  display: none;
}
